<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <style>
        body {
          text-align: center;
          font-family: 'Noto Sans KR', sans-serif;
          }

        #logo {
          width: 50px;
          height: 50px;
        }

        #status {
          float: right;
          padding: 10px;
          margin: 10px;
          border: 1px solid black;
        }

        #card {
          float: right;
          width: 300px;
        }

        #cardimage {
          height: 100px;
          width: 100px;
          margin-left: 35px;
          }

        #info {
          margin-left: 10px;
        }

        #corp {
          text-decoration: none;
          color: black;
        }
      
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href = "{%url 'main'%}" >
            <div class="none">
                <img src = "{% static 'checkmate3.png'%}" alt = "" width = "100" height = "100" >
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href = "{%url 'new'%}" >메이트 찾기</a>
                    </li>


                    <!-- <li class="nav-item"></li>
                        <a class="nav-link" href = "{%url 'travel' %}" >카테고리</a>
                    </li> -->

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        카테고리
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{%url 'travel' %}" >국내 & 해외여행</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{%url 'camping' %}" >캠핑</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{%url 'exercise' %}" >운동</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{%url 'study' %}" >공부</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{%url 'cultural' %}" >문화생활</a></li>
                      </ul>
                    </li>

                    <li class="nav-item"></li>
                        <a class="nav-link" href = "{%url 'logout' %}" >로그아웃</a>
                    </li>
                    {% endif %}

                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href = "{%url 'signup' %}" >회원가입</a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link" href = "{%url 'login' %}" >로그인</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" >로그인하세요.</a>
                    </li>
                    {% endif %}
            </div>

            <form class="d-flex" action="{% url 'search' %}" method="post">
                {%csrf_token%}
                <select name="type">
                    <option value="title">제목</option>
                    <option value="writer">글쓴이</option>
                    <option value="mate_type">메이트 종류</option>
                    <option value="explanation">설명</option>
                    <option value="activity_area">활동 지역</option>
                </select> 
                <input class="form-control me-2" type="search" aria-label="Search" placeholder="Search" name="keyword">
                <button class="btn btn-dark" type="submit">Search</button>
            </form>

            {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button id="info" class="btn btn-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          {{user.username}}님의 정보
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                            <div id="card" class="card">
                                <img id="cardimage" src="{% static 'profile-user.png'%}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">{{user.username}} 님</h5>
                                  <p class="card-text">mbti : {{user.mbti}}<br>
                                    현재 거주지역 : {{user.location}}<br></p>
                                  <a href = "{%url 'new' %}" class="btn btn-dark">메이트 구하러 가기</a>
                                </div>
                              </div>
                        </ul>
                      </div>
                      {% endif %}

        </div>
      </nav>

      

<div class="container">
    {% block content %}
    {% endblock %}
    <hr>
    멋쟁이사자처럼 9기  |  소울메이트  |  김유림 김지원 정재운 최지수  |  <img id="logo" src="{% static 'checkmate3.png'%}">
    <a id="corp" href="{% url 'explanation' %}">ⓒ Checkmate Corp.</a>
    
</div>
</body>
</html>