{% extends 'base.html' %}

{% block content %}
<h1>{{post.title}}</h1>
<div>
    {{post.writer}}
    <br>
    {{post.created_at|date:'Y-m-d H:i'}}
<hr>
{{post.mate_type}}
<br>
<h5>{{post.activity_area}} | {{post.people_number}} 명</h5>

</div>
<hr>
{% if post.img %}
<p><img src="{{post.img.url}}" width="500px"></p>
{% endif %}

<br>
<h6>{{post.explanation}}</h6>

{% if user.is_authenticated %}
    {% if user == post.writer %}
        <a href ="{% url 'edit' post.id %}">수정하기</a>
        <a href ="{% url 'delete' post.id %}">삭제하기</a>
    {% endif %}
{% else %}
    <script type="text/javascript">
        alert('로그인이 필요합니다.');
        window.location.href = '{% url "login" %}';
    </script>
{% endif %}

<br>
{% endblock %}