{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    a {
        text-decoration: none;
    }

    .dd {
        display: inline-block;
        margin-right: 10px;
    }

    .main {
        border: 2px solid black;
        margin-left: 5px;
        display: inline-block;
        width: 400px;
        box-shadow: 5px 5px gray;
    }

    .main2 {
        border: 1px solid black;
    }

    .mate {
        float: left;
    }

    .ex {
        display: inline-block;
        background-color: rgba(153, 149, 149, 0.637);
        width: 700px;
        height: 350px;
        background-size: 300px;
        margin-top: 50px;
        color: white;
        padding-top: 120px;
    }

</style>

<div class="ex">
    <h1>체크메이트</h1>
    <h4 style="color:gray;">나만의 메이트를 체크하다</h4>
    <a href="{% url 'explanation' %}">체크메이트란?▷</a>
</div>

<br><br><br><br><br><br>
<div class="dd">
    <a href="{% url 'travel' %}" class="mate">메이트 찾아보기 ▷</a>
    <br>
    <div class="main">
        {% for post in posts %}
        <div class="main2">
            <table>
                <tr>
                    {%if post.img %} <td rowspan="2"><img src="{{post.image_thumbnail.url}}"></td>{%endif%}
                    <td>
                        <a href="{%url 'detail' post.id %}" style="text-decoration: none; color:black;">{{post.title}}</a>
                    </td>
                </tr>
                <tr>
                    <td>{{post.writer}}| {{post.mate_type}} | {{post.people_number}} 명</td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
</div>

<div class="dd">
    <a href="#">{{user.mbti}}추천 메이트 글 </a>
    <br>
    <div class="main">
        {% for post in posts %}
        {% if user.mbti == post.writer.mbti%}
        <div class="main2">
            <table>
                <tr>
                    {%if post.img %} <td rowspan="2"><img src="{{post.image_thumbnail.url}}"></td>{%endif%}
                    <td>
                        <a href="{%url 'detail' post.id %}" style="text-decoration: none; color:black;">{{post.title}}</a>
                    </td>
                </tr>
                <tr>
                    <td>{{post.writer}}| {{post.mate_type}} | {{post.people_number}} 명</td>
                </tr>
            </table>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="dd">
    <a href="#">지역 추천 메이트 글 </a>
    <br>
    <div class="main">
        {% for post in posts %}
        {% if user.location == post.writer.location%}
        <div class="main2">
            <table>
                <tr>
                    {%if post.img %} <td rowspan="2"><img src="{{post.image_thumbnail.url}}"></td>{%endif%}
                    <td>
                        <a href="{%url 'detail' post.id %}" style="text-decoration: none;color:black;">{{post.title}}</a>
                    </td>
                </tr>
                <tr>
                    <td>{{post.writer}}| {{post.mate_type}} | {{post.people_number}} 명</td>
                </tr>
            </table>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endblock %}
</div>